<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>ここは<strong>board-game.fun</strong>です</h1>
    </div>
      <div class="row">
        <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
          <br>
          <h5>自分がお気に入りのボードゲームを紹介したり、感想を共有することができるコミュニティサイトです。オススメのボードゲームのプレイ人口が増えたり、新しいボードゲームを探すお手伝いになれば幸いです。</h5>
        </div>
      </div>
    </div>
  </div>
</div>